<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PromoteAppUserMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_WWJ_PROMOTE_APPUSER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PRO_MANAGE_ID,
		USER_ID,	
		RETURN_RATIO,	
		CREATE_TIME,	
		UPDATE_TIME,	
		PRO_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PRO_MANAGE_ID},	
		#{USER_ID},	
		#{RETURN_RATIO},	
		now(),	
		now(),	
		#{PRO_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd"  useGeneratedKeys="true" keyProperty="PRO_ID">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PRO_ID = #{PRO_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PRO_MANAGE_ID = #{PRO_MANAGE_ID},
			USER_ID = #{USER_ID},
			RETURN_RATIO = #{RETURN_RATIO},
			UPDATE_TIME =now()
		where 
		PRO_ID = #{PRO_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PRO_ID = #{PRO_ID}
	</select>
	
	
		<select id="findByUserId" parameterType="String" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USER_ID = #{PRO_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		a.PRO_MANAGE_ID,
		a.USER_ID,	
		a.RETURN_RATIO,	
		a.CREATE_TIME,	
		a.UPDATE_TIME,	
		a.PRO_ID,
		u.NICKNAME
		from 
		SYS_WWJ_PROMOTE_APPUSER a LEFT JOIN SYS_APP_USER u on a.USER_ID=u.USER_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and	
			u.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			a.USER_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
	</select>
	
	<!-- 查询加盟用户的子用户信息 -->
	<select id="FranchiseeSubuserlistPage" parameterType="pd" resultType="pd">
	select
		a.USER_ID,
		u.NICKNAME,
		u.PRO_USER_ID,
		u.CREATETIME,
		u.BALANCE,
		u.BDPHONE,
		u.STATUS,
		u.NAME,
		u.CHANNEL_CODE
		from 
		SYS_WWJ_PROMOTE_APPUSER a LEFT JOIN SYS_APP_USER u on a.USER_ID=u.PRO_USER_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and	
			u.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			u.PRO_USER_ID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		AND
		u.PRO_USER_ID = #{pd.PRO_USER_ID}

	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PRO_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	<select id="findByProCode" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PRO_ID = #{proCode}
	</select>
	<!-- fh313596790qq(青苔) -->
</mapper>