<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PusherGameDetailMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PUSHERGAMEDETAIL
	</sql>

	<resultMap id="pusherGameMap" type="pusherGameVo">
		<result column="GAMEID" property="gameId"/>
		<result column="ROOMID" property="roomId"/>
		<result column="USERID" property="userId"/>
		<result column="EXPENDITURE" property="expenditure"/>
		<result column="INCOME" property="income"/>
		<result column="TAG" property="tag"/>
		<result column="CREATETIME" property="createTime"/>
		<result column="PUSHERGAMEDETAIL_ID" property="id"/>
		<result column="UPDATETIME" property="updateTime"/>
		<result column="VERSIONLOCK" property="versionLock"/>
	</resultMap>

	<!-- 字段 -->
	<sql id="Field">
		GAMEID,	
		ROOMID,	
		USERID,	
		EXPENDITURE,	
		INCOME,	
		TAG,	
		CREATETIME,	
		UPDATETIME,	
		PUSHERGAMEDETAIL_ID,
		VERSIONLOCK
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{GAMEID},	
		#{ROOMID},	
		#{USERID},	
		#{EXPENDITURE},	
		#{INCOME},	
		#{TAG},	
		#{CREATETIME},	
		#{UPDATETIME},	
		#{PUSHERGAMEDETAIL_ID},
		#{VERSIONLOCK}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PUSHERGAMEDETAIL_ID = #{PUSHERGAMEDETAIL_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			GAMEID = #{GAMEID},
			ROOMID = #{ROOMID},
			USERID = #{USERID},
			EXPENDITURE = #{EXPENDITURE},
			INCOME = #{INCOME},
			TAG = #{TAG},
			CREATETIME = #{CREATETIME},
			UPDATETIME = #{UPDATETIME},
		PUSHERGAMEDETAIL_ID = PUSHERGAMEDETAIL_ID
		where 
		PUSHERGAMEDETAIL_ID = #{PUSHERGAMEDETAIL_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PUSHERGAMEDETAIL_ID = #{PUSHERGAMEDETAIL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		p.GAMEID,
		p.ROOMID,
		p.USERID,
		p.EXPENDITURE,
		p.INCOME,
		p.TAG,
		p.CREATETIME,
		p.UPDATETIME,
		p.PUSHERGAMEDETAIL_ID,
		p.VERSIONLOCK,
		u.NICKNAME
		from 
		<include refid="tableName"/> p
		left join
		sys_app_user u
		on
		p.userid = u.user_id
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and	p.USERID LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.lastStart != null and pd.lastStart != ''">
			and date_format(p.CREATETIME,'%Y-%m-%d %H:%i:%s')  &gt;= str_to_date(CONCAT(#{pd.lastStart},' 00:00:00'), '%Y-%m-%d %H:%i:%s')
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd != ''">
			and date_format(p.CREATETIME,'%Y-%m-%d %H:%i:%s')  &lt;= str_to_date(CONCAT(#{pd.lastEnd},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
		</if>
		order
		by
		p.CREATETIME
		DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PUSHERGAMEDETAIL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<insert id="insert" parameterType="pusherGameVo">
		insert into
		<include refid="tableName"/>
		(
		GAMEID,
		ROOMID,
		USERID,
		CREATETIME,
		PUSHERGAMEDETAIL_ID,
		TAG,
		EXPENDITURE
		) values (
		#{gameId},
		#{roomId},
		#{userId},
		now(),
		#{id},
		#{tag},
		#{expenditure}
		)


	</insert>

	<select id="getInfo" parameterType="pusherGameVo" resultMap="pusherGameMap">
		select
		<include refid="Field"/>
		from
		<include refid="tableName"/>
		<where>
			ROOMID = #{roomId}
			and
			USERID = #{userId}
			<if test="gameId != null and gameId != ''">
				and
				GAMEID = #{gameId}
			</if>
			and
			TAG = #{tag}
		</where>


	</select>

	<update id="update" parameterType="pusherGameVo">
		update
		<include refid="tableName"></include>
		set

		<if test="tag != null and tag != ''">
			TAG = #{tag},
		</if>
		<if test="expenditure != null">
			EXPENDITURE = #{expenditure},
		</if>
		<if test="income != null">
			INCOME = #{income},
		</if>
		VERSIONLOCK = (#{versionLock}+1),
		PUSHERGAMEDETAIL_ID = #{id}
		where
		PUSHERGAMEDETAIL_ID = #{id}
		and
		VERSIONLOCK = #{versionLock}
	</update>
	
	<!-- fh313596790qq(青苔) -->
</mapper>